body{
    height: 100vh;
}

#Navigation{
    height: 80px;
    width: 100%;
    background-color: #333;
    margin-left: -8px;
    margin-top: -8px;
    display: flex;
}

img{
    width: 40px;
    height: 40px;
    padding-top: 20px;
    padding-left: 60px;
}

#Navigation a{
    text-decoration: none;
    color: white;
    padding: 30px;
}

#sign{
    display: flex;
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    gap: 10px;
}

#sign section[id="signin"]{
    text-decoration: none;
    background-color: white;
}

#sign section[id="signup"]{
    text-decoration: none;
    background-color: white;
}

#sign a{
    color: black;
}

p{
    color: black;
    align-items: center;
    padding: 200px;
    text-align: center;
}

#popup{
border: 1px solid black;
margin: 50px;
padding: 100px;
display: none;
}


